body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;

}
a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14;
}

.estilo1{
    background-color: #303030;
    color: #fff;
    border-width: 1;
    border-color: red;
    border-style: solid;
    padding: 25px 25px 25px 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 30%;
    float: left;
}
.contenedor{
    width: 90%;
    border-width: 1;
    border-color: #fff;
    border-style: solid;
    margin: 0 auto;
    background-color: #fff;
    padding: 8px 8px 8px 8px;
    border-radius: 5px;
}